body{
    background-color: #fafcef;
    margin-left: 15%;
    margin-right: 20%;
    padding: 5px 0px 40px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

#center { text-align: center;}

a:link { text-decoration: none;}

h1 { font-family: 'Playfair Display', serif;
    text-align: center;
    color: maroon;
    margin-top: 20px;
padding-top: 20px;}
    
li, ul { font-weight: bold;
color: #75441c;
list-style-type: none;
padding: 0px 0px 0px 0px;
font-family: 'Playfair Display', serif;
font-size: 15px;
}

div#all {background-color: #ece5c3;
border-radius: 15px;
border-top: 2px #4e301b;
width: 545px;
height: 650px;
margin: 0px 0px 0px 0px;
margin-left: 130px;
padding: 0px 35px 0px 35px;
line-height: 10px;}

input { color: #815836;}

.radio { color: #80522c;}

p.heading {font-weight: bolder;}

.grid1 { display: grid;
grid-template-columns: 1fr 1fr;
gap: 0px}

.grid2 {display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
gap: 1px;
padding-top: 10px;}

.grid3 { display: grid;
    grid-template-columns: 1fr;
    gap: 0px;}

.beans { width: 420px;
height: 27px;
border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;}

    .date { width: 450px;
        height: 25px;
        border-top: none;
            border-left: none;
            border-right: none;
            border-radius: 3px;}
        
        .number, .date2 { width: 163px;
            height: 21px;
            border-top: none;
                border-left: none;
                border-right: none;
                border-radius: 3px;}

.city, .state, .zip, .phone { width: 128px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
height: 20px;}

.name, .address { width: 265px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 2px;
    height: 20px;}

.button { background-color: #744927;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
color: white;
border: 1px #80522c;
border-radius: 20px;
width: 546px;
height: 35px;}

.text {  border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 3px;}

.container { display: grid;
grid-template-columns: 1fr 1fr;
gap: 20px}
